<ion-nav-bar class="bar-positive">

    <ion-nav-back-button></ion-nav-back-button>

</ion-nav-bar>

<ion-tabs class="tabs-icon-top tabs-positive bar-app tabs-pc">

    <ion-tab title="Cerrar Sesión" icon="ion-log-out" ng-click="logout()">
    </ion-tab>
    
    <ion-tab title="Empresas" icon="ion-briefcase" href="#/home/empresas">
        <ion-nav-view name="content"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Acerca De" icon="ion-information-circled" href="#/home/acercade">
        <ion-nav-view name="acercade"></ion-nav-view>
    </ion-tab>

</ion-tabs>