<ion-view view-title="Empleados">
    <ion-content>

        <div class="list listaempresas">

            <button class="button button-balanced nuevo" ng-click="openModalNew()">
                <i class="icon ion-plus-round"></i>
            </button>
            <button class="button button-positive nuevo" ng-click="openModal()">
                <i class="icon ion-printer"></i>
            </button>

            <div ng-repeat="empleado in empleados track by $index" class="item item-button-right row empleadoList">

                <div class="empleadoEmpresa">
                    <button class="button btnEditEmp" ng-click="openModalEdit({{empleado.id}})">
                        <i class="icon ion-android-create" ng-click="openModalEdit({{empleado.id}})"></i>
                    </button>
                </div>

                <div class="empleadoNombre" ui-sref="home.meses-empleado({id: {{empleado.id}}})">
                    {{empleado.name}} {{empleado.lastname}}
                    <br>
                    <span class="nifEmpleado">{{empleado.nif}}</span>
                </div>

            </div>

        </div>

        <!-- VENTANA MODAL PARA EDITAR EMPLEADO -->

        <script id="modal.html" type="text/ng-template">
                    <div class="modal editarEmpleado">
                    <header class="bar bar-header bar-positive">
                        <h1 class="title">{{empleado_nombre}}</h1>
                        <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
                    </header>
                    <content has-header="true" padding="true">
                        <div class="contenidomodal">
        
                            <form>
                                <div class="list">
        
                                    
                                    <label class="item item-input">
                                        <span class="input-label">Compañia</span>
                                        <select>
                                            <option ng-repeat="compani in companies track by $index" value="{{compani.id}}">{{compani.name}}</option>
                                        </select>
                                    </label>
                                    <label class="item item-input">
                                        <span class="input-label">Empleado</span>
                                        <input type="text" ng-model="empleado.name">
                                    </label>
                                    <label class="item item-input">
                                        <span class="input-label">Apellidos</span>
                                        <input type="text" ng-model="empleado.lastname">
                                    </label>
                                    <label class="item item-input">
                                        <span class="input-label">NIF</span>
                                        <input type="text" ng-model="empleado.nif">
                                    </label>
                                    <label class="item item-input">
                                            <span class="input-label">Nº Afiliacion</span>
                                            <input type="text" ng-model="empleado.nAfiliacion">
                                        </label>
                                    <label class="item item-input">
                                        <span class="input-label">Hora Entrada</span>
                                        <input type="text" ng-model="empleado.inHour1">
                                    </label>
                                    <label class="item item-input">
                                        <span class="input-label">Hora Salida</span>
                                        <input type="text" ng-model="empleado.outHour1">
                                    </label>
                                    <label class="item item-input">
                                        <span class="input-label">Hora Entrada</span>
                                        <input type="text" ng-model="empleado.inHour2">
                                    </label>
                                    <label class="item item-input">
                                        <span class="input-label">Hora Salida</span>
                                        <input type="text" ng-model="empleado.outHour2">
                                    </label>
        
                                    <input class="button button-positive botoneditar" type="button" value="Guardar" ng-click="editarEmpleado(empleado)"/>
                                    <input class="button button-assertive botoneditar" type="button" value="Cancelar" ng-click="modal.hide()"/>
                            
                                </div>
                            </form>
        
                        </div>
                    </content>
                    </div>
                </script>

        <!-- VENTANA MODAL PARA AÑADIR EMPLEADO -->

        <script id="modalNuevoEmpleado.html" type="text/ng-template">
                    <div class="modal modalNuevoEmpleado">
                    <header class="bar bar-header bar-positive">
                        <h1 class="title">Nuevo Empleado</h1>
                        <div class="button button-clear" ng-click="modal2.hide()"><span class="icon ion-close"></span></div>
                    </header>
                    <content has-header="true" padding="true">
                        <div class="contenidomodal">
        
                            <form>
                                <div class="list">
                                    
                                        <label class="item item-input item-stacked-label">
                                            <span class="input-label">Nombre</span>
                                            <input type="text" ng-model="nuevoempleado.name">
                                        </label>
                                        <label class="item item-input item-stacked-label">
                                            <span class="input-label">Apellidos</span>
                                            <input type="text" ng-model="nuevoempleado.lastname">
                                        </label>
                                        <div class="row">
                                                <div class="col col">
                                        <label class="item item-input item-stacked-label">
                                            <span class="input-label">NIF</span>
                                            <input type="text" ng-model="nuevoempleado.nif">
                                        </label>
                                    </div>
                                        <div class="col col">
                                        <label class="item item-input item-stacked-label">
                                            <span class="input-label">Nº Afiliacion</span>
                                            <input type="text" ng-model="nuevoempleado.afiliacion">
                                        </label>
                                    </div>
                                        </div>
                                    
                                    <div class="row">
                                        <div class="col col">
                                            <label class="item item-input item-stacked-label">
                                                <span class="input-label">Hora Entrada</span>
                                                <input type="text" ng-model="nuevoempleado.inHour1">
                                            </label>
                                            <label class="item item-input item-stacked-label">
                                                <span class="input-label">Hora Salida</span>
                                                <input type="text" ng-model="nuevoempleado.outHour1">
                                            </label>
                                        </div>
                                        <div class="col col">
                                            <label class="item item-input item-stacked-label">
                                                <span class="input-label">Hora Entrada</span>
                                                <input type="text" ng-model="nuevoempleado.inHour2">
                                            </label>
                                            <label class="item item-input item-stacked-label">
                                                <span class="input-label">Hora Salida</span>
                                                <input type="text" ng-model="nuevoempleado.outHour2">
                                            </label>
                                        </div>
                                    </div>
                                    </div>
        
                                    <input class="button button-balanced botoneditar" type="button" value="Crear" ng-click="nuevoEmpleado(nuevoempleado)"/>
                            
                                </div>
                            </form>
        
                        </div>
                    </content>
                    </div>
                </script>

        <!-- VENTANA MODAL PARA IMPRIMIR MES SELECCIONADO EN TODOS -->
        <script id="modalImprimirMes.html" type="text/ng-template">
                    <div class="modal">
                    <header class="bar bar-header bar-positive">
                        <h1 class="title">Imprimir Mes</h1>
                        <div class="button button-clear" ng-click="modalImprimirMes.hide()"><span class="icon ion-close"></span></div>
                    </header>
                    <content has-header="true" padding="true">
                        <div class="contenidomodal">
        
                            <form>
                                <div class="list">
        
                                    <label class="item item-input">
                                        <span class="input-label">Mes</span>
                                        <select ng-model="mes.idMonth">
                                            <option value="01">Enero</option>
                                            <option value="02">Febrero</option>
                                            <option value="03">Marzo</option>
                                            <option value="04">Abril</option>
                                            <option value="05">Mayo</option>
                                            <option value="06">Junio</option>
                                            <option value="07">Julio</option>
                                            <option value="08">Agosto</option>
                                            <option value="09">Septiembre</option>
                                            <option value="10">Octubre</option>
                                            <option value="11">Noviembre</option>
                                            <option value="12">Diciembre</option>
                                        </select>
                                    </label>
                                    <label class="item item-input">
                                        <span class="input-label">Año</span>
                                        <input type="text" ng-model="mes.idYear">
                                    </label>
        
                                    <input class="button button-balanced botoneditar" type="button" value="Imprimir" ng-click="imprMes(mes)"/>
                            
                                </div>
                            </form>
        
                        </div>
                    </content>
                    </div>
                </script>

    </ion-content>
</ion-view>