<ion-view class="cuerpo" view-title="Dias">

    <ion-content>

        <div class="list list-inset listaempresas">

            <div class="empleadoList btnImpr">
                <button class="button button-positive nuevo" ng-click="imprMes()">
                    <i class="icon ion-printer"></i>
                </button>
            </div>

            <div ng-repeat="dia in dias track by $index" class="item empleadoList {{dia.clase}}">

                <div class="row responsive-sm responsive-md responsive-lg">

                    <div class="col col-10" ng-click="openModal({{dia.dia}})">
                        <h1 class="{{dia.clase}}">{{dia.dia.idDay}}</h1>
                    </div>

                    <div class="nombreDia" ng-click="openModal({{dia.dia}})">
                        <p class="{{dia.clase}}">{{dia.diaSemana}}</p>
                        <p>{{dia.horasTrabajadas}}h</p>
                    </div>

                    <div class="col col-20" ng-click="openModal({{dia.dia}})">
                        <p>Hora Entrada: {{dia.dia.inHour1}}</p>
                        <p>Hora Salida: {{dia.dia.outHour1}}</p>
                    </div>

                    <div class="col col-20" ng-click="openModal({{dia.dia}})" ng-if="dia.dia.inHour2 != '' && dia.dia.outHour2 != ''">
                        <p ng-if="dia.dia.inHour2 != '' && dia.dia.outHour2 != ''">Hora Entrada: {{dia.dia.inHour2}}</p>
                        <p ng-if="dia.dia.inHour2 != '' && dia.dia.outHour2 != ''">Hora Salida: {{dia.dia.outHour2}}</p>
                    </div>

                    <div class="col" ng-click="openModal({{dia.dia}})" ng-if="dia.dia.pactadas != '' && dia.dia.voluntarias != ''">
                        <p ng-if="dia.dia.pactadas != '' && dia.dia.voluntarias != ''">Horas Pactadas: {{dia.dia.pactadas}}</p>
                        <p ng-if="dia.dia.pactadas != '' && dia.dia.voluntarias != ''">Horas Voluntarias: {{dia.dia.voluntarias}}</p>
                    </div>

                    <div class="colBorrarDia">
                        <button class="button icon ion-compose button-outline button-positive {{dia.clase}}" ng-click="openModal({{dia.dia}})"></button>
                        <button class="button icon ion-trash-b button-outline button-positive {{dia.clase}}" ng-click="borrarDia({{dia.dia.idDay}})"></button>
                    </div>

                </div>

            </div>

        </div>

    </ion-content>

</ion-view>

<!-- VENTANA MODAL EDITAR DÍA -->

<script id="modalDia.html" type="text/ng-template">
    <div class="modal">
      <header class="bar bar-header bar-positive">
        <h1 class="title">Dia {{dia.day}}</h1>
        <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
      </header>
      <content has-header="true" padding="true">
        <div class="contenidomodal">
            
                <form>
                    <div class="list">
    
                        <label class="item item-input">
                            <span class="input-label">Hora Entrada</span>
                            <input type="text" ng-model="dia.inHour1">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Hora Salida</span>
                            <input type="text" ng-model="dia.outHour1" value="">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Hora Entrada</span>
                            <input type="text" ng-model="dia.inHour2">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Hora Salida</span>
                            <input type="text" ng-model="dia.outHour2">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Horas Pactadas</span>
                            <input type="number" ng-model="dia.pactadas">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Horas Voluntarias</span>
                            <input type="number" ng-model="dia.voluntarias">
                        </label>
    
                        <input name="intensivo" class="button button-positive botoneditar" type="button" value="Guardar" ng-click="editarDia(dia)"/>
                
                    </div>
                </form>

        </div>
      </content>
    </div>
</script>