/* MOVIL */
@media only screen and (max-width: 768px){

    .login{
        width: 90% !important;
        margin-left: 5% !important;
        margin-right: 5% !important;
    }

    .btnlog{
        width: 40%;
        text-align: center;
        margin: auto;
        padding: auto;
    }

    .botoneditar{
        margin-top: 3%;
        width: 30%;
        text-align: center !important;
    }

    .listaempresas{
        width: 100% !important;
        padding: 2%;
        border: 0px solid cornflowerblue;
        border-radius: 8px;
        margin-bottom: 20% !important;
    }

    .empresa{
        text-align: center;
        min-height: auto !important;
        padding-left: 0px !important;
    }

    .nuevo{
        margin-bottom: 1%;
        font-size: 12px !important;
    }

    .empleadoList{
        color: cornflowerblue;
        border: 1px solid cornflowerblue;
        border-radius: 8px;
        padding: 1%;
        margin-bottom: 5%;
    }

    .empleadoEmpresa{
        margin-top: 1%;
    }

    .empleadoNombre{
        margin-top: 1%;
        margin-left: 5%;
        width: 100%;
    }

    .mesesLi{
        float: left;
        width: 100%;
    }

    .btnMes{
        width: 100%;
    }

    .monthsYear{
        width: 100%;
    }

    .btnImpr{
        border: 0px;
        text-align: right;
        margin-bottom: 0px;
    }
    
    .colBorrarDia{
        position: absolute;
        margin-right: 2%;
        margin-left: 63%;
        margin-top: 2%;
    }

    .nombreDia{
        position: absolute;
        margin-left: 18% !important;
        width: 30% !important;
        margin-top: 2%;
    }

    .input-label{
        text-align: left !important;
        width: 50% !important;
    }

    .anyoMes{
        width: 100% !important;
    }
    
}

@media only screen and (max-width: 800px) {

    .colBorrarDia{
        margin-left: 80%;
        margin-top: 1%;
    }

    .nombreDia{
        position: absolute;
        margin-left: 7%;
        margin-top: 1%;
    }

    .log{
        margin-top: 30%;
    }

    .imglogo{
        width: 40%;
    }

    .login{
        width: 70%;
        margin-left: 15%;
        margin-top: 20%;
    }

}

@media only screen and (max-width: 768px) {

    .colBorrarDia{
        margin-left: 80%;
        margin-top: 1%;
    }

    .nombreDia{
        margin-left: 8% !important;
        margin-top: 1%;
    }

    .listaempresas{
        width: 100% !important;
        margin-left: 0%;
    }

}

@media only screen and (max-width: 640px) {

    .colBorrarDia{
        margin-left: 76%;
        margin-top: 1%;
    }

    .nombreDia{
        margin-left: 10% !important;
        margin-top: 1%;
    }

    .listaempresas{
        width: 100% !important;
        margin-left: 0%;
    }

    .log{
        margin-top: 10%;
    }

    .imglogo{
        width: 20%;
    }

    .login{
        width: 20%;
        margin-left: 40%;
        margin-top: 1%;
    }

}

@media only screen and (max-width: 600px) {

    .colBorrarDia{
        margin-left: 76%;
        margin-top: 1%;
    }

    .nombreDia{
        margin-left: 10% !important;
        margin-top: 1%;
    }

    .listaempresas{
        width: 100% !important;
        margin-left: 0%;
    }

    .log{
        margin-top: 40%;
    }

}

@media only screen and (max-width: 480px) {

    .colBorrarDia{
        margin-left: 72%;
    }

    .nombreDia{
        margin-left: 12% !important;
        margin-top: 1%;
    }
    
    .imglogo{
        width: 50%;
    }

    .log{
        margin-top: 50% !important;
    }

}

@media only screen and (max-width: 414px) {

    .colBorrarDia{
        margin-left: 67%;
    }

    .nombreDia{
        margin-left: 15% !important;
        margin-top: 2%;
    }

    .imglogo{
        width: 50%;
        margin-top: 0%;
    }

    .login{
        margin-top: 5%;
    }

}

@media only screen and (max-width: 375px) {

    .colBorrarDia{
        margin-left: 64%;
    }

    .nombreDia{
        margin-left: 15% !important;
        margin-top: 2%;
    }

}

@media only screen and (max-width: 360px) {

    .colBorrarDia{
        margin-left: 62%;
    }

    .nombreDia{
        margin-left: 17% !important;
        margin-top: 2%;
    }

    .listaempresas{
        width: 100% !important;
        margin-left: 0%;
    }

    .log{
        margin-top: 30%;
    }

    .imglogo{
        width: 60%;
    }

}

@media only screen and (max-width: 320px) {

    .colBorrarDia{
        margin-left: 57%;
    }

    .nombreDia{
        margin-left: 17% !important;
        margin-top: 2%;
    }

    .log{
        margin-top: 5%;
    }

}